<!DOCTYPE html>
<html lang="en">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Gyn Maneger</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
  <header class="header-index">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a class="active" href="/">Intructors</a>
          </li>
          <li>
            <a href="/members">Members</a>
          </li>
        </ul>
      </nav>
    </div>
    <!--container-->
  </header>


  {% block content_index %}{% endblock %}
  {% block content_not_foud %} {% endblock %}




</body>
</html>