@font-face{
  font-family: "Roboto";
  src: url('./Roboto-Regular.ttf') 
}

:root{
  --primmary-color:#7159c1;
  --secundary-color:#F7DF1E; 
}
 
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  font-family: "Roboto";
  background: var(--primmary-color)
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}


header{
  width: 100%;
  padding: 32px;
  background-color: white;
  text-align: center;
}



header ul li {
  list-style: none;
  display: inline-block;
  padding: 0  20px;
}

header ul li a {
  text-decoration: none;
  font-size: 22px;
  position: relative;
  left: 0;
  
}





ul li a.active{
  font-weight: bold;
  color: var(--primmary-color);
}

ul li a::after{
  content: "";
  width: 0;
  height: 2px;
  background:var(--primmary-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  
}
ul li a:hover::after{
  width: 100%;
  transition:width  200ms ;
  color: var(--primmary-color);
  
}




/*=== INDEX ===*/

.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
  min-height: 400px;
  background: white;
  margin: 45px auto;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
  gap: 10px;
}

.card .members {
  background-image:url('/prof.png');
  background-size:cover;
  background-position: center center ;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: up 200ms ease-in-out;
 
}


.avatar{
  background-image:url('/photo-profile.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
 
}

.details {
  padding: 32px;
}

.details h3 {
  color: var(--primmary-color);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;

}

.details .item {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .item:last-child{
  border: none;
}

.details .item div:nth-child(1){
  font-size: 14px ;
  color: #777;
  letter-spacing: 0.7px;
  line-height:24px ;
}

.details .item div:nth-child(2){
  font-size: 18px;
  color: #555;
  font-weight: bold;
}


.details .item span, #lesson{
  display: inline-block;
  background-color: var(--primmary-color);
  font-size: 12px !important;
  font-weight: bold;
  padding: 8px 16px;
  margin-right: 4px;
  text-transform: uppercase;
  border-radius: 16px;
  margin-top: 8px;
  letter-spacing: 0.8px;
  color:white !important;
  border-top-left-radius: 0px;
}


button,  .bt {
  margin-top: 14px;
  width: 100%;
  display: block;
  background: var(--primmary-color);
  border: 0;
  padding: 8px 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.bt:hover{
  background-color: #271f75;
  transition: all 200ms ease-in ;
}

.bt_red{
  background:  lightcoral;
  margin-top: 14px;
}
.bt_red:hover{
  background: red;
  transition: all 200ms ease-in;
}

input {
  border: 0;
}
.item div input[novo=attr] {
  width: 100%;
}






/*=== Animation ===*/

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}







#bt{
  background:green;
  margin-top: 33px;
}

#bt:hover{
  background: rgb(1, 24, 1);
  transition: all 200ms ease-in;
}


.table_container {
  width:900px;
  display: block;
  padding: 40px;
  border-radius: 8px;
}


.table_container table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}

table th{
  padding: 16px;
  border-bottom: 1px solid #d4d4d4;
  font-size: 14px;
  text-transform: uppercase;
  color: #777;

}

table td {
  padding: 16px;
  border-bottom: 1px solid #d4d4d4;
  font-size: 15px;

}

table tbody tr:last-child td {
  border-bottom: 0;
}

tbody tr td:first-child {
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;
  gap: 15px;
}
tbody tr td:first-child span {
  width: 64px;
  height: 64px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 3px 1px 6px -4px black;
  border: 2px solid white;


}
thead tr th:last-child  {
  text-align: center;
}
tbody tr td:last-child  {
  text-align: center;
}
tbody tr td:last-child a, .table_container > a{
  text-align: center;
  background: var(--primmary-color);
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.table_container > a{
    margin: 16px;
    display: inline-block;
    padding: 10px 26px;
}
.members-card {
  width: 900px;
}

/**=== Page Teatcher ===**/

.profile{
  background-image: url('/2077.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.teatcher .container {
  margin: 34px auto;
  width: 900px;
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px 2%;
}



.profile img{
  width: 100%;
  height: 100%;
}
.teatchers{
  background-color: rgb(255, 255, 255); 
   padding: 30px 8%;
}

form#teatcherD> div {
  width:100%;
  padding: 14px 0;
}

form#teatcherD p {
  font-size: 14px;
  color: rgb(119, 119, 119);
  letter-spacing: 0.7px;
  line-height: 24px;
}

form#teatcherD input {
  width: 100%;
  padding: 8px 0%;
  border-bottom: 1px solid #ccc;
}



button.tc {
  margin: 30px 0;
}

#select {
  font-size: 14px;
  border: 0;
  width: 100%;
  margin-top: 18px;
  
 
}
select, option{
  cursor:pointer;
}
#radio-child{
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr ;
  padding: 8px 0;
  
  
}

label, input[type='radio']{
  cursor: pointer;
}

#teatcherD span {
  font-size: 18px;
  color: rgb(85, 85, 85);
  font-weight: bold;
  display: inline-block;
  padding: 10px 0;
}

#teatcherD div:last-of-type span{
 padding: 8px 11px;
 
}


.table_container a:nth-of-type(2){
  float:right;
  clear: both;
  background:#1eadd8 ;
}

.table_container header{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table_container header > a {
  max-width: 120px;
}

.table_container header form  {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 120px;
  gap: 16px;
}

.table_container header form input[type=text] {
  padding: 8px 8px;
  border: 1px solid #eee;
  outline: none;
}

.table_container header form button,.table_container header > .bt{
  margin:0;
  border-radius: 3px;
  height: 35px;

}