{% extends 'layout.njk' %}

{% block teatcher %} 
  <section class="teatcher">

  <div class="container">
  
    <div class="info_teatcher">
    <h2 style='margin:16px; color:white ; text-transform:uppercase; font-size:16px' >Teatcher</h2>
      <div class="profile">
        <img src="/photo-profile.jpg" alt="photo-profile">
      </div>

      <div class="about_teatcher">
        <form action="/teatcherForm" method= 'post' >
          
          <div class="item">
          <span>Nome</span>
            <input type="text" name="name" placeholder="Digite seu nome" value="{{teatcher.name}} ">
          </div>

          <div class="item">
          <span>Idade</span>
             <span style="">{{teatcher.Birth}} </span>
          </div>

          <div class="item" style="color:white">
          <span>Sexo</span>
            {%  if teatcher.age == "M"  %} Masculino{% endif %}
            {%  if teatcher.age == "F"  %} Femenino {% endif %} 
          </div>

           <div class="item">
           <span>Graduation</span>
            <select name="graduation" id="">
              {% for item in teatcher.services %} 
                <option value="{{item}}"> {{item}} </option>
              {% endfor%}
            </select>
          </div>


          


        </form>
      </div>

    </div><!-- info_teatcher-->
  </div>

</section>

{% endblock %}