{% extends "layout.njk" %}

{% block content_not_foud %}
<h1 style='font-size:70px; color:white; text-align:center; margin-top:10vh;'>Error:404(not-found)</h1>

<h2 style="color:red; font-size:50px; margin-top:15vh; text-align:center">Page Not-found</h2>

 
 {% endblock %}